<div class="quizz_container">
  <div class="quizz__logo">
    <img src="../../../assets/img/logo.png" 
    alt="Logo BuzzFeed">
    <h3>{{titleQuizz}}</h3>
  </div>
  
  <div class="quizz__questions">
    <h3>{{questionSelected.question}}</h3>
  </div>
  
  <div class="quizz__options">
    <button 
      class="quizz___btn-option">
      {{buttonQuizz}}
    </button>
  </div>
  <!-- Com o uso da diretiva *ngIf por padrão de vizualiação vem true. Quando false, deixa de exibir na tela. -->
  <div class="quizz__results"
  *ngIf="finished"
  >
    <h1>
      {{resultsQuizz}}
    </h1>
    <p>
      {{respostQuizz}}
    </p>
  </div>
</div>